@{
    Layout = null;
}
<div class="widget-content nopadding">
    <table class="table table-bordered table-striped with-check table-hover">
        <thead>
            <tr>
                <th class="w7">回复序号</th>
                <th class="w12">问题</th>
                <th class="w20">回复内容</th>
                <th class="w10">回复图片</th>
                <th class="w7">图片序号</th>
                <th class="w6">排序号</th>
                <th class="w12">所属模板</th>
                <th class="w8">录入人</th>
                <th class="w10">录入时间</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewBag.List.Count == 0)
            {
                <tr class="gradeA">
                    <td colspan="10">未查询到相关数据</td>
                </tr>
            }
            else
            {
                var ck = WZK.Admin.Common.RightInfo.GetRightInfo().CanUse("AutoReply", "ReplyDetail");
                var dk = WZK.Admin.Common.RightInfo.GetRightInfo().CanUse("AutoReply", "DelReply");
                foreach (WZK.Models.admin.MAutoReply item in ViewBag.List.ReturnList)
                {
                    <tr class="gradeA">
                        <td>@item.AskNo</td>
                        <td>@item.Question</td>
                        <td>@item.Answer</td>
                        <td>
                            @if (string.IsNullOrWhiteSpace(item.Pic))
                            {
                                <text>未上传</text>
                            }
                            else
                            {
                                <img src="@item.Pic" width="55" height="55" onclick="ShowImg(this.src)" class="hover-img" />
                            }
                        </td>
                        <td>@item.PicIndex</td>
                        <td>@item.OrderNo</td>
                        <td>@item.TemplateName</td>
                        <td>@item.InputUser</td>
                        <td>@item.InsertTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>
                            <div class="xc_wrap">
                                @if (ck)
                                {
                                    @Html.ActionLink("查看", "ReplyDetail", "AutoReply", new { id=item.Id, templateId = ViewBag.templateId }, new { @class = "btn btn-info xc btn-mini" })
                                }
                                @if (dk)
                                {
                                    <a href="javascript:;" data-id="@item.Id" data-name="@item.AskNo" class="btn btn-danger xc btn-del btn-mini">删除</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@if ((int)ViewBag.List.Count > WZK.Common.ConfigData.PageConfig.PageSize)
{
    <div class="pagination page">
        @Html.ShowPageNavigate((int)ViewBag.List.Count, WZK.Common.ConfigData.PageConfig.PageSize)
    </div>
}
<script type="text/javascript">
    $(function () {
        $(".btn-del").click(function () {
            var $this = $(this);
            var id = $this.data("id");
            var name = $this.data("name");
            layer.confirm('确认要删除回复序号<span class="deltc">“' + name + '”</span>吗？', {
                btn: ['确认', '取消'] //按钮
            }, function () {
                $.post('@Url.Action("DelReply")', { id: id }, function (data) {
                    if (data.IsPass == true) {
                        layer.msg('删除成功', { icon: 1, time: 1200 }, function () {
                            location.reload(true);
                        });
                    } else {
                        layer.msg('删除失败：' + data.msg, { icon: 2 });
                    }
                });
            });
        });
    })
</script>